@import "./standards";

#flex-container {
  display: flex;
  justify-content: center;
}

.close-button {
  position: absolute;
  top: 2%;
  right: 2%;
}

.close-button:focus {
  outline: 0px transparent !important;
}

.note {
  @include shadow;
  height: auto;
  background-color: $light;
}

.note:hover {
  @include shadow-hover;
}

@media (min-width: 320px) {
  .note {
    width: 100%;
    padding: 12px;
    margin-bottom: 4%;
  }
}

@media (min-width: 576px) {
  .note {
    width: 48%;
    margin: 1%;
    padding: 15px;
  }
}

@media (min-width: 992px) {
  .note {
    width: 31%;
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .note {
    width: 22%;
  }
}
