@import "./standards";

#flex-container {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 320px) {
  .note {
    width: 200px;
    height: auto;
    background-color: $light;
  }
}
