@import "./standards";

@media (min-width: 320px) {
  .taskboard-container {
    background-color: $shadow;
    font-family: $font;
    min-height: 100vh;

    .title {
      color: $light;
      font-size: 3em;
    }
  }
}
