@import "./standards";

.taskboard-container {
  background-color: $shadow;
  font-family: $font;
  min-height: 100vh;

  .title {
    font-family: $title;
    font-weight: 400;
    color: $light;
  }

  .subtitle {
    font-family: $title;
    font-weight: 400;
    color: $light;
  }

  .masonry-notes {
    width: 100%;
  }

  .button,
  .summary-input {
    font-family: $title;
    margin-top: 20px;
    margin-bottom: 30px;
    @include button;
    font-size: 1.1rem;
    outline-width: 0px;
  }
  .summary-input {
    background-color: $shadow;
    border: 3px $secondary solid;
    color: $light !important;
  }

  .summary-input::placeholder {
    color: $light;
  }

  .summary-input-button {
    background-color: $secondary;
    margin-left: 10px;
    border-width: 0px;
  }

  .add-note,
  .demo {
    background-color: $primary;
  }

  .summary {
    background-color: $secondary;
    margin-bottom: 20px;
  }

  .add-note:hover,
  .demo:hover,
  .summary:hover,
  .summary-input-button:hover {
    @include button-hover;
  }
}

@media (min-width: 320px) {
  .taskboard-container {
    .title {
      font-size: 3em;
      padding-top: 20px;
    }
    .subtitle {
      font-size: 1em;
      padding-bottom: 25px;
    }
  }
}

@media (min-width: 576px) {
  .taskboard-container {
    .title {
      font-size: 3.5em;
    }
    .subtitle {
      font-size: 1.5em;
    }
  }
}

@media (min-width: 768px) {
  .taskboard-container {
    .title {
      font-size: 4em;
    }
    .subtitle {
      font-size: 2em;
    }
  }
}
