$color1: rgba(255, 231, 76, 1);
$color2: rgba(255, 89, 100, 1);
$color3: rgba(255, 255, 255, 1);
$color4: rgba(56, 97, 140, 1);
$color5: rgba(53, 167, 255, 1);

#input-form{
    background-color: $color3;
    border-radius: 0px;
    
    border: 2px Solid grey;
    padding: 4px;
}

#input-form:focus {
    box-shadow: none;
  }